<h1>Editing pacjent</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Pokaż', @pacjent %> |
<%= link_to 'Powrót', pacjents_path %>
=======
<%= link_to 'Show', @pacjent %> |
<%= link_to 'Back', pacjents_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
