<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @pacjent.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @pacjent.nazwisko %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @pacjent.pesel %>
</p>

<p>
  <strong>Nrtelefonu:</strong>
  <%= @pacjent.nrtelefonu %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pacjent.email %>
</p>

<<<<<<< HEAD
<%= link_to 'Edytuj', edit_pacjent_path(@pacjent) %> |
<%= link_to 'Powrót', pacjents_path %>
=======
<p>
  <strong>Haslo:</strong>
  <%= @pacjent.haslo %>
</p>

<%= link_to 'Edit', edit_pacjent_path(@pacjent) %> |
<%= link_to 'Back', pacjents_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
