<%= form_for(@wizyt) do |f| %>
  <% if @wizyt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wizyt.errors.count, "error") %> prohibited this wizyt from being saved:</h2>

      <ul>
      <% @wizyt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :lekarz_id %><br>
    <%= f.number_field :lekarz_id %>
  </div>
  <div class="field">
    <%= f.label :pacjent_id %><br>
    <%= f.number_field :pacjent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
