<h1>Editing diagnoza</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Pokaż', @diagnoza %> |
<%= link_to 'Powrót', diagnozas_path %>
=======
<%= link_to 'Show', @diagnoza %> |
<%= link_to 'Back', diagnozas_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
