<p id="notice"><%= notice %></p>

<p>
  <strong>Typ:</strong>
  <%= @diagnoza.typ %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @diagnoza.opis %>
</p>

<<<<<<< HEAD
<%= link_to 'Edytuj', edit_diagnoza_path(@diagnoza) %> |
<%= link_to 'Powrót', diagnozas_path %>
=======
<%= link_to 'Edit', edit_diagnoza_path(@diagnoza) %> |
<%= link_to 'Back', diagnozas_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
