<<<<<<< HEAD
<h1>Edycja wybranego lekarza</h1>

<%= render 'form' %>

<%= link_to 'Pokaż', @lekarz %> |
<%= link_to 'Wróć', lekarzs_path %>
=======
<h1>Editing lekarz</h1>

<%= render 'form' %>

<%= link_to 'Show', @lekarz %> |
<%= link_to 'Back', lekarzs_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
