<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @lekarz.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @lekarz.nazwisko %>
</p>

<p>
  <strong>Specjalizacja:</strong>
  <%= @lekarz.specjalizacja %>
</p>

<p>
  <strong>Nrtelefonu:</strong>
  <%= @lekarz.nrTelefonu %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lekarz.email %>
</p>

<p>
  <strong>Haslo:</strong>
  <%= @lekarz.haslo %>
</p>

<%= link_to 'Edit', edit_lekarz_path(@lekarz) %> |
<%= link_to 'Back', lekarzs_path %>
